{{#extend "layout"}}
    {{#content "body"}}
        
        {{#if jobs.length}}
            {{#each jobs}}
                <div class="job {{#if config.__hasConfigErrors}}job--configErrors{{/if}} {{#if isPassing}}job--passing{{/if}}">

                    <div class="cell cell--header">
                        <div class="name">
                            <a href="/watcher/{{config.__name}}" target="_PARENT">
                                {{config.name}} 
                            </a>
                        </div>
                    </div>

                    <div class="cell cell--content">
                        {{#if config.__hasConfigErrors}}
                            {{config.__errorMessage}}
                        {{else}}
                            {{#if isPassing}}
                                <img class="icon-passing" src="/icons/passing.svg" alt="Passing" />
                            {{else}}
                                {{ago statusDate}} - {{config.__errorMessage}}
                            {{/if}}                            
                        {{/if}}
                    </div>

                    <div class="cell">
                        {{#if config.__hasConfigErrors}}
                            Disabled (config errors)
                        {{else}}
                            Next check : <span data-formatDate="{{nextRun}}"></span>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="dashboard-message">
                Nothing to show yet - add/enable some watchers
            </div>
        {{/if}}

        <div class="push"></div>

    {{/content}}
    {{#content "footer"}}
        <div class="grid">
            <div class="layout-renderTime">
                Rendered <span class="now"></span>
                {{#if debug}}
                    <input id="cbEnableReload" checked type="checkbox" />
                    <label for="cbEnableReload">Reload</label>
                {{/if}}
            </div>
        </div>
    {{/content}}

{{/extend}}