{{#extend "layout"}}
    {{#content "body"}}

        {{#if watchers}}
            <x-columns>
                {{#each watchers}}
                    <a href="/watcher/{{config.__name}}" target="_PARENT">
                        <x-card class="watcher {{#if config.__hasErrors}}watcher--configErrors{{/if}} {{#if isPassing}}watcher--passing{{/if}}">
                            <div class="cell cell--header">
                                {{config.name}} 
                            </div>

                            <div class="cell cell--content">
                                {{#if isPassing}}
                                    {{#if timeInState}}
                                        <div class="cell-passing">
                                            Up {{timeInState}}
                                        </div>
                                    {{else}}
                                        <img class="icon-passing" src="/content/icons/passing.svg" alt="Passing" />
                                    {{/if}}
                                {{else}}
                                    {{#if timeInState}}
                                        Down {{timeInState}}.
                                    {{/if}}
                                    {{errorMessage}}
                                {{/if}}
                            </div>

                            <div class="cell watcher-nextUpdateWrapper">
                                {{#if config.__hasErrors}}
                                    Disabled (config errors)
                                {{else}}
                                    Next check : <span class="watcher-nextUpdate" data-nextUpdate="{{nextRun}}">{{next}}</span> 
                                {{/if}}
                            </div>
                        </x-card> 
                    </a>
                {{/each}}
            </x-columns>
        {{else}}
            <div class="dashboard-message">
                Nothing to show yet - add/enable some watchers
            </div>
        {{/if}}

    {{/content}}
    {{#content "footer"}}
            <div class="layout-renderTime">
                Rendered <span class="now"></span>
                <input id="cbEnableReload" checked type="checkbox" />
                <label for="cbEnableReload">Reload</label>
                <a class="restartServer" href="javascript:void(0)">Restart</a>
                {{#if blocks}}
                    <a class="rerunAllWatchers" href="javascript:void(0)">Rerun all</a>
                {{/if}}
            </div>
    {{/content}}

{{/extend}}
