{{#extend "layout"}}
    {{#content "body"}}
        <input id="dashboardNode" type="hidden" value="{{dashboardNode}}">
        <input id="dashboardRefreshInterval" type="hidden" value="{{dashboardRefreshInterval}}">
        
        {{#if watchers}}
            <x-columns>
                {{#each watchers}}
                    <a data-watcher="{{config.__name}}" href="{{../rootpath}}watcher/{{config.__name}}" target="_PARENT">
                        <x-card class="watcher watcher--{{status}} {{#if config.__hasErrors}}watcher--configErrors{{/if}}">
                            <div class="cell cell-header">
                                {{config.name}} 
                            </div>

                            <div class="cell cell-content">
                                <span class="watcher-status">
                                    <span class="watcher-state">{{status}}</span>
                                    <span class="watcher-timeInState">{{timeInState}}</span>
                                    <div class="watcher-errorMessage">{{errorMessage}}</div>
                                </span>
                            </div>

                            <div class="cell watcher-nextUpdateWrapper">
                                {{#if config.__hasErrors}}
                                    Disabled (config errors)
                                {{else}}
                                    Next check : <span class="watcher-nextUpdate" data-nextUpdate="{{nextRun}}">{{next}}</span> 
                                {{/if}}
                            </div>
                        </x-card> 
                    </a>
                {{/each}}
            </x-columns>
        {{else}}
            <div class="dashboard-message">
                Nothing to show yet - add/enable some watchers
            </div>
        {{/if}}

    {{/content}}

    {{#content "footer"}}

        <div class="layout-footerItem">
            Rendered <span class="now"></span>
        </div>

        {{#if UIRestart}}
            <div class="layout-footerItem">
                <a class="restartServer" href="javascript:void(0)">Restart</a>
            </div>
        {{/if}}

    {{/content}}

{{/extend}}
