{{#extend "layout"}}
    {{#content "body"}}

        <div class="table">
            <div class="table-row table-header">
                <div class="table-cell">Job</div>
                <div class="table-cell">Checked</div>
                <div class="table-cell">Status</div>
            </div>
            {{#each jobs}}
                <div class="table-row job {{#if isPassing}}job--passing{{/if}}">

                    <div class="table-cell">
                        <div class="table-cellLabel">
                            Job
                        </div>
                        <div class="table-cellValue">
                            {{name}} - {{url}}
                        </div>
                    </div>

                    <div class="table-cell">
                        <div class="table-cellLabel">
                            Checked
                        </div>
                        <div class="table-cellValue">
                            <div class="date-time" data-value="{{lastRun}}"></div>
                        </div>
                    </div>

                    <div class="table-cell">
                        <div class="table-cellLabel">
                            Status
                        </div>
                        <div class="table-cellValue">
                            {{status}} 
                            {{#unless isPassing}}
                                since {{ago statusDate}}
                            {{/unless}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="layout-renderTime">
            Page rendered <span class="date-time renderTime" data-value="{{renderDate}}"></span>,
            updating in <span class="layout-updateTime"></span>.
        </div>

    {{/content}}
{{/extend}}