{{#extend "layout"}}
    {{#content "body"}}
        <div class="table">
            {{#if jobs.length}}
                {{#each jobs}}
                    <div class="table-row job {{#if isPassing}}job--passing{{/if}}">

                        <div class="table-cell table-cell--header">
                            <div class="table-cellValue name">
                                {{config.name}} 
                            </div>
                        </div>

                        <div class="table-cell">
                            <div class="table-cellValue">
                                {{#if isPassing}}
                                    <img class="icon-passing" src="/icons/passing.svg" alt="Passing" />
                                {{else}}
                                    {{errorMessage}} ({{ago statusDate}})
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="noJobs">
                    No jobs set.
                </div>
            {{/if}}
        </div>
        <div class="push">

        </div>
    {{/content}}
{{/extend}}