{{#extend "layout"}}
    {{#content "body"}}

        <div class="table">
            {{#each jobs}}
                <div class="table-row job {{#if isPassing}}job--passing{{/if}}">

                    <div class="table-cell">
                        <div class="table-cellLabel">
                            Target
                        </div>
                        <div class="table-cellValue name">
                            {{config.name}} 
                        </div>
                    </div>

                    <div class="table-cell">
                        <div class="table-cellLabel">
                            Checked 
                        </div>
                        <div class="table-cellValue">
                            {{ago lastRun}}
                        </div>
                    </div>

                    <div class="table-cell">
                        <div class="table-cellLabel">
                            Status
                        </div>
                        <div class="table-cellValue">
                            {{status}}
                            {{#unless isPassing}}
                                since {{ago statusDate}}
                                <div>
                                    {{errorMessage}}
                                </div>
                            {{/unless}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="layout-renderTime">
            Page rendered <span class="now"></span>.
        </div>

    {{/content}}
{{/extend}}