{{#extend "layout"}}
    {{#content "body"}}
        <div class="noreload"></div>

        {{#if history}}
            {{#each history}}
                <div class="historyItem historyItem--{{status}}">
                    <div class="historyItem-mainContent">
                        {{status}} {{duration}}
                        <div>
                            {{ago date}}  ({{date date}})
                        </div>
                    </div>
                    <div class="historyItem-padder" style="width:{{durationPercent}}px"></div>
                </div>
            {{/each}}
        {{else}}
            <div class="history-empty">
                No changes to report
            </div>
        {{/if}}
    {{/content}}
{{/extend}}