{{#extend "layout"}}
    {{#content "body"}}
            <x-columns class="--two"> 
                <x-card class="history-info">
                    <h3 class="header3">Watcher : {{title}}</h3>
                    {{#if watcherRuntime}}
                        <div>
                            Has run for <strong>{{watcherRuntime}}</strong> with <strong>{{incidentCount}}</strong> {{pluralizer incidentCount 'incident'}}.
                        </div>
                    {{/if}}

                    {{#if totalDownTime}}
                        <div>
                            Total downtime : about {{totalDownTime}}.
                        </div>
                    {{/if}}

                    {{#if lastIncidentDate}}
                        <div>
                            Last incident was {{ago lastIncidentDate}}.
                        </div>
                    {{/if}}

                </x-card>
                <x-card class="history-info">
                    {{#if dashboardsWithWatcher}}
                        <div class="quiet">On dashboards</div>
                        {{#each dashboardsWithWatcher}}
                            <a href="/?dashboard={{__safeName}}">{{name}}</a>
                        {{/each}}
                    {{/if}}
                </x-card>

            </x-columns>
        {{#if page.items}}
            <x-list class="history ">
            {{#each page.items}}
                <x-list-row class="history-item {{#eq data.status "down"}}--error{{/eq}}">
                    <x-list-cell class="history-durationBar">
                        <div class="watcherHistory-durationBar watcherHistory-durationBar--{{data.status}}" style="width:{{durationPercent}}%"></div>
                    </x-list-cell>
                    <x-list-cell class="history-status">
                        {{data.status}}
                    </x-list-cell>
                    <x-list-cell class="history-duration">
                        for {{durationString}}
                    </x-list-cell>
                    <x-list-cell class="history-date">
                        {{ago data.date}} <div class="quiet">({{date data.date}})</div>
                    </x-list-cell>
                    <x-list-cell class="history-error">
                        {{error}}
                    </x-list-cell>
                </x-list-row>
            {{/each}}
            </x-list>
            {{{pager baseurl page}}}
        {{else}}
            <div class="dashboard-message">
                No changes to report.
            </div>
        {{/if}}
    {{/content}}
{{/extend}}