{{#extend "layout"}}
    {{#content "body"}}
        <h2>Watcher : {{title}}</h2>
        <div>
            Incidents: {{incidentCount}}
        </div>

        {{#if dashboardsWithWatcher}}
            <div>Referenced by dashboards : </div>
            {{#each dashboardsWithWatcher}}
                <div>
                    <a href="/?dashboard={{__safeName}}">{{name}}</a>
                </div>
            {{/each}}
        {{/if}}

        {{#if page.items}}
            <x-list class="history ">
            {{#each page.items}}
                <x-list-row class="history-item {{#eq status "down"}}--error{{/eq}}">
                    <x-list-cell class="history-durationBar">
                        <div class="watcherHistory-durationBar watcherHistory-durationBar--{{status}}" style="width:{{durationPercent}}%"></div>
                    </x-list-cell>
                    <x-list-cell class="history-status">
                        {{status}}
                    </x-list-cell>
                    <x-list-cell class="history-duration">
                        for {{durationString}}
                    </x-list-cell>
                    <x-list-cell class="history-date">
                        {{ago data.date}} <div class="quiet">({{date data.date}})</div>
                    </x-list-cell>
                    <x-list-cell class="history-error">
                        {{error}}
                    </x-list-cell>
                </x-list-row>
            {{/each}}
            </x-list>
            {{{pager baseurl page}}}
        {{else}}
            <div class="dashboard-message">
                No changes to report.
            </div>
        {{/if}}
    {{/content}}
{{/extend}}