{{#extend "layout"}}
    {{#content "body"}}
        {{#if history}}
            {{#each history}}
                <div class="watcherHistory">
                    <div class="watcherHistory-durationBarWrapper">
                        <div class="watcherHistory-durationBar watcherHistory-durationBar--{{status}}" style="width:{{durationPercent}}%"></div>
                    </div>                        
                    <div class="watcherHistory-items">
                        <div class="watcherHistory-item watcherHistory-status watcherHistory-status--{{status}}">
                            {{status}}
                        </div>
                        <div class="watcherHistory-item watcherHistory-duration">
                            for {{durationString}}
                        </div>
                        <div class="watcherHistory-item watcherHistory-date">
                            <div>
                                {{ago date}}
                            </div>
                            <div>
                            ({{date date}})
                            </div>
                        </div>
                        {{#if error}}   
                            <div class="watcherHistory-item watcherHistory-error">
                                {{error}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="dashboard-message">
                No changes to report.
            </div>
        {{/if}}
    {{/content}}
{{/extend}}