<html>
    <head>
        {{{block "basehead"}}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <title>{{title}}</title>
    </head>
    <body class="layout {{#if hasErrors}}layout--failing{{/if}}">
        <div class="content">
            
            <header>
                <div class="grid">
                    <div class="layout-titleScaffold">
                        <a href="/">
                            <h1 class="layout-title">
                                Are We Down? {{title}}
                            </h1>
                        </a>
                    </div>
                </div>
            </header>

            <main>
                {{{block "body"}}}
            </main>

            <footer>
                {{{block "footer"}}}
            </footer>
        </div>
        <script src="/js/base.js"></script>
    </body>
</html>